<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
	<Bundle Name="Ultra Bend" Version="!(bind.packageVersion.UltraBendMSI)" Manufacturer="Ultra Deep" 
          UpgradeCode="F1E1E316-3C8D-47A2-B24D-83E91D153CB8"
          IconSourceFile="../UltraBend.Setup.Resources/Application.ico">
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense" >
      <bal:WixStandardBootstrapperApplication
        LicenseFile="..\UltraBend.Setup.Resources\license.rtf"
        LogoFile="..\UltraBend.Setup.Resources\Logo.jpg"
      />
    </BootstrapperApplicationRef>

		<Chain>
		  <PackageGroupRef Id="NetFx462Redist"/>
		  <!-- redist packages -->
		  <!--<PackageGroupRef Id="redist"/>-->

		  <MsiPackage Id="UltraBendMSI" SourceFile="$(var.UltraBend.Setup.TargetPath)" ForcePerMachine="yes"
		              DisplayInternalUI="no"   />
		</Chain>
	</Bundle>
</Wix>
