<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Telerik.Reporting" type="Telerik.Reporting.Configuration.ReportingConfigurationSection, Telerik.Reporting, Version=13.2.19.918, Culture=neutral, PublicKeyToken=a9d7983dfcc261be"/>
  </configSections>
  <Telerik.Reporting>
    <Cache provider=""/>
    <cache provider=""/>
    <assemblyReferences>
      <add name="UltraBend.Engine" version="1.0.6645.2450"/>
      <add name="UltraBend.Reports" version="1.0.0.0"/>
    </assemblyReferences>
    <SessionState provider=""/>
    <restReportService>
      <storage provider=""/>
      <reportResolver provider=""/>
    </restReportService>
    <appData path=""/>
  </Telerik.Reporting>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
